<angular-desktop background-image='url("https://picsum.photos/3840/2160?random=1")' toolbar-background='#004172'>
  <div ngbDropdown class="float-left mr-2 pt-1 pb-1">
    <div ngbDropdownToggle>
      <img style="border-radius: 18px;" src="assets/home.png">
    </div>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="open('one')">Component One</button>
      <button ngbDropdownItem (click)="open('two')">Component Two</button>
      <button ngbDropdownItem (click)="open('one/2')">Component One/2</button>
      <button ngbDropdownItem (click)="open('three')">Component Three</button>
    </div>
  </div>
</angular-desktop>
